/* Style the search field */
form.search_bar input[type=text] {
  border: 1px solid #00ce68;
  margin-left: 22px;
  padding: 13.5px;
  font-size: 12px;
  float: left;
  width: 70%;
}

/* Style the submit button */
form.search_bar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #00ce68;;
  color: white;
  font-size: 17px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border: 1px solid #00ce68;
}



/* Clear floats */
form.search_bar::after {
  content: "";
  clear: both;
  display: table;
}

form.search_bar{
    width:300px;
    margin-bottom: 20px;
}

.pager {
    padding-left: 0;
    text-align: center;
    list-style: none;
    margin-bottom: 20px;
}

.pager li {
    display: inline;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.widthh {
    width: 100px;
    display: inline-block;
}

.btn.btn-fw {
    min-width: 12px;
}

.btn-inverse-success {
  color: #00ce68;
  background-color: rgba(0, 206, 104, 0.2);
  background-image: none;
  border-color: rgba(0, 206, 104, 0);
  }
 .btn-inverse-success.focus, .btn-inverse-success:focus {
    box-shadow: 0 0 0 3px rgba(0, 206, 104, 0.5); }
  .btn-inverse-success.disabled, .btn-inverse-success:disabled {
    color: #00ce68;
    background-color: transparent; }
  .btn-inverse-success.active, .btn-inverse-success:active,
  .show > .btn-inverse-success.dropdown-toggle {
    color: #ffffff;
    background-color: #00ce68;
    border-color: #00ce68; }
   .btn-inverse-success:hover {
    color: #ffffff;
    background-color: #00ce68;
    border-color: #00ce68; }
    .btn.btn-rounded {
    border-radius: 50px; }


.contact_form{
    width:500px;
    padding:20px;
}

.google_map_contact_us{
    padding:20px;
}