<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <!-- plugins:css -->
  <!--<link rel="stylesheet" href="static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">-->
  <!--<link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">-->
  <!--<link rel="stylesheet" href="static/vendors/css/vendor.bundle.addons.css">-->
  <link rel="stylesheet" href="static/css/admin.css">
  <link rel="stylesheet" href="static/css/admin_ext.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="static/images/logo1.png" />
    <link href="static/css/icons.css" rel="stylesheet">

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <!--<div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">-->
        <!--<a class="navbar-brand brand-logo" href="../../index.html">-->
          <!--&lt;!&ndash;<img src="static/images/logo1.png" alt="logo" />&ndash;&gt;-->
        <!--</a>-->
        <!--<a class="navbar-brand brand-logo-mini" href="../../index.html">-->
          <!--<img src="static/images/logo1.svg" alt="logo" />-->
        <!--</a>-->
      <!--</div>-->
      <div class="navbar-menu-wrapper d-flex align-items-center">
                    <h3 style="margin-left:470px">Administration System</h3>

        <ul class="navbar-nav navbar-nav-right">

          <li class="nav-item dropdown d-none d-xl-inline-block">
            <!--<a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">-->
              <span class="profile-text">Hello, {{adminname}}!</span>
              <!--<img class="img-xs rounded-circle" src="../../images/faces/face1.jpg" alt="Profile image">-->
            <!--</a>-->
            <!--<div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">-->
              <!--<a class="dropdown-item p-0">-->
                <!--<div class="d-flex border-bottom">-->
                  <!--<div class="py-3 px-4 d-flex align-items-center justify-content-center">-->
                    <!--<i class="mdi mdi-bookmark-plus-outline mr-0 text-gray"></i>-->
                  <!--</div>-->
                  <!--<div class="py-3 px-4 d-flex align-items-center justify-content-center border-left border-right">-->
                    <!--<i class="mdi mdi-account-outline mr-0 text-gray"></i>-->
                  <!--</div>-->
                  <!--<div class="py-3 px-4 d-flex align-items-center justify-content-center">-->
                    <!--<i class="mdi mdi-alarm-check mr-0 text-gray"></i>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</a>-->
              <!--<a class="dropdown-item mt-2">-->
                <!--Manage Accounts-->
              <!--</a>-->
              <!--<a class="dropdown-item">-->
                <!--Change Password-->
              <!--</a>-->
              <!--<a class="dropdown-item">-->
                <!--Check Inbox-->
              <!--</a>-->
              <!--<a href="/admin_logout">Sign Out</a>-->
                                    <a href="/admin_logout" title="" itemprop="url"><i class="fa fa-sign-out" aria-hidden="true"></i></a>

            <!--</div>-->
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">

          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">-->
              <!--<i class="menu-icon mdi mdi-content-copy"></i>-->
              <!--<span class="menu-title">Basic UI Elements</span>-->
              <!--<i class="menu-arrow"></i>-->
            <!--</a>-->
            <!--<div class="collapse" id="ui-basic">-->
              <!--<ul class="nav flex-column sub-menu">-->
                <!--<li class="nav-item">-->
                  <!--<a class="nav-link" href="../../pages/ui-features/buttons.html">Buttons</a>-->
                <!--</li>-->
                <!--<li class="nav-item">-->
                  <!--<a class="nav-link" href="../../pages/ui-features/typography.html">Typography</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="../../pages/forms/basic_elements.html">-->
              <!--<i class="menu-icon mdi mdi-backup-restore"></i>-->
              <!--<span class="menu-title">Form elements</span>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="templates/table.html">-->
              <!--<i class="menu-icon mdi mdi-chart-line"></i>-->
              <!--<span class="menu-title">Charts</span>-->
            <!--</a>-->
          <!--</li>-->
          <li class="nav-item">
            <a class="nav-link" href="admin_table">
              <span class="menu-title">Users</span>
            </a>
          </li>
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="admin_post_table">-->
              <!--<span class="menu-title">Posts</span>-->
            <!--</a>-->
          <!--</li>-->
            <li class="nav-item">
            <a class="nav-link" href="contact_us_feedback">
              <span class="menu-title">Feedback</span>
            </a>
          </li>
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">-->
              <!--<i class="menu-icon mdi mdi-restart"></i>-->
              <!--<span class="menu-title">User Pages</span>-->
              <!--<i class="menu-arrow"></i>-->
            <!--</a>-->

          <!--</li>-->
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
                <form class="search_bar" action="/admin_table" method="post">
                  <input type="text" placeholder="Search email or username.." name="search">
                  <button type="submit" name="search_form" value="I_am_search_form"><i class="fa fa-search"></i></button>
                </form>
          </div>

            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">User account</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Email
                          </th>
                          <th>
                            Username
                          </th>
                          <th>
                            Status
                          </th>
                          <th>
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for item in result %}
                          <tr>
                            <td>{{item.email}}</td>
                            <td>{{item.username}}</td>

                            {% if item.status == 'l' %}
                            <td><form method="post" action="admin_table"><select class="badge badge-danger" name="color" onchange='this.form.submit()'><option class='l' value="l {{item.email}} {{page}}">Limit</option><option class="f" value="f {{item.email}} {{page}}">Free</option></select></form></td>
                            {% endif %}

                            {% if item.status == 'f' %}
                            <td><form method="post" action="admin_table"><select class="badge badge-success" name="color" onchange='this.form.submit()'><option class="f" value="f {{item.email}} {{page}}">Free</option><option class="l" value="l {{item.email}} {{page}}">Limit</option></select></form></td>
                            {% endif %}

                            {% if item.status == 'w' %}
                            <td><form method="post" action="admin_table"><select class="badge badge-warning" name="color" onchange='this.form.submit()'><option class="f" value="f {{item.email}} {{page}}">Free</option><option class="l" value="l {{item.email}} {{page}}">Limit</option></select></form></td>
                            {% endif %}

                            <td><form method="post" action="admin_table"><button type="submit" name="username" value="{{item.email}}" class="btn btn-outline-danger">Delete</button></form></td>
                          </tr>
                          {% endfor %}

                      </tbody>
                    </table>

                  </div>
                </div>
                  <!--{% if page == 1 %}-->
                  <!--<script>$('form#previous_page').submit(function(){$(this).find(':input[type=submit]').attr('disabled', 'disabled');}); </script>-->
                  <!--{% endif %}-->

                  <!--{% if disable == true %}-->
                  <!--<script type="text/javascript">document.getElementById('next_page').disabled = true; </script>-->
                  <!--{% endif %}-->

                  <div class="pager">
                      <form method="post" action="admin_table" class="widthh"><button class="btn btn-inverse-success btn-rounded btn-fw" type="submit" id="previous_page" name="previous_page" value="{{page}}">Prev</button></form>
                      <span>{{page}}</span>
                      <form method="post" action="admin_table" class="widthh"><button class="btn btn-inverse-success btn-rounded btn-fw" type="submit" id="next_page" name="next_page" value="{{page}}">Next</button></form>
                </div>
              </div>
            </div>

            <!--<div class="col-lg-12 grid-margin stretch-card">-->
              <!--<div class="card">-->
                <!--<div class="card-body">-->
                  <!--<h4 class="card-title">Post</h4>-->
                  <!--<div class="table-responsive">-->
                    <!--<table class="table table-striped">-->
                      <!--<thead>-->
                        <!--<tr>-->
                          <!--<th>-->
                            <!--PostID-->
                          <!--</th>-->
                          <!--<th>-->
                            <!--status-->
                          <!--</th>-->
                          <!--<th>-->
                            <!--Action-->
                          <!--</th>-->
                        <!--</tr>-->
                      <!--</thead>-->
                      <!--<tbody>-->
                          <!--{% for item in result1 %}-->
                          <!--<tr>-->
                            <!--<td>{{item.postid}}</td>-->

                            <!--{% if item.status == 'l' %}-->
                            <!--<td><form method="post" action="admin_table"><select class="badge badge-danger" name="color1" onchange='this.form.submit()'><option class='l' value="l {{item.postid}}">Limit</option><option class="f" value="f {{item.postid}}">Free</option><option class="w" value="w {{item.postid}}">Warn</option></select></form></td>-->
                            <!--{% endif %}-->

                            <!--{% if item.status == 'f' %}-->
                            <!--<td><form method="post" action="admin_table"><select class="badge badge-success" name="color1" onchange='this.form.submit()'><option class="f" value="f {{item.postid}}">Free</option><option class="l" value="l {{item.postid}}">Limit</option><option class="w" value="w {{item.postid}}">Warn</option></select></form></td>-->
                            <!--{% endif %}-->

                            <!--{% if item.status == 'w' %}-->
                            <!--<td><form method="post" action="admin_table"><select class="badge badge-warning" name="color1" onchange='this.form.submit()'><option class="w" value="w {{item.postid}}">Warn</option><option class="f" value="f {{item.postid}}">Free</option><option class="l" value="l {{item.postid}}">Limit</option></select></form></td>-->
                            <!--{% endif %}-->

                            <!--<td><form method="post" action="deletePosts"> <button type="submit" name="postid" value="{{item.postid}}" class="btn btn-outline-danger">Delete</button></form></td>-->
                          <!--</tr>-->
                          <!--{% endfor %}-->
                                                  <!--&lt;!&ndash;<td><label class="badge badge-warning">Warn</label><label class="badge badge-danger">Limit</label><label class="badge badge-success">Free</label></td>&ndash;&gt;-->
                      <!--</tbody>-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <!--<div class="container-fluid clearfix">-->
            <!--<span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2018-->
              <!--<a href="http://www.bootstrapdash.com/" target="_blank">Bootstrapdash</a>. All rights reserved.</span>-->
            <!--<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with-->
              <!--<i class="mdi mdi-heart text-danger"></i>-->
            <!--</span>-->
          <!--</div>-->
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  <!-- container-scroller -->
  <!-- plugins:js -->
  <!--<script src="static/vendors/js/vendor.bundle.base.js"></script>-->
  <!--<script src="static/vendors/js/vendor.bundle.addons.js"></script>-->
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <!--<script src="static/js/admin_off-canvas.js"></script>-->
  <!--<script src="static/js/admin_misc.js"></script>-->
  <!-- endinject -->
  <!-- Custom js for this page-->
  <!-- End custom js for this page-->
</body>

</html>