{% extends "base.html" %}
{% block body_contents %}

<section class="header11" id="header11-46" data-rv-view="2039" style="background-image:url(static/images/contact_us_web.jpg);top:-140px">
    <div class="container" style="left:180px; top: -110px;padding-top:730px">
        <div class="media-container-column mbr-white col-md-12" style="padding-left: 35px;">
            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1" style="color:snow; margin-left:20px; font-size: 4rem;">CONTACT US</h1>
        </div>
    </div>

    
</section>

<section class="mbr-section form4 cid-qvhnNip1K7 mbr-parallax-background" id="form4-bg" data-rv-view="2046" style="top: -160px">
    

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(204, 204, 204);">
    </div>
    <div class="container">
        <div class="row">
            <div class="google_map_contact_us" style="padding: 50px 0; width: 500px;">
                <div class="google-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26490.94314411623!2d151.19928033951712!3d-33.905929899785626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12b18b0302c1a7%3A0x1d017d69037a07a0!2z5paw5Y2X5aiB54i-5aOr5aSn5a24!5e0!3m2!1szh-CN!2sau!4v1535605520621" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="contact_form" style="padding: 50px; width: 500px;">
                <h2 class="pb-3 align-left mbr-fonts-style display-2">
                    WeStay
                </h2>
                <div>
                    <div class="icon-block pb-3">
                        <span class="icon-block__icon">
                            <span class="mbri-letter mbr-iconfont" media-simple="true"></span>
                        </span>
                        <h4 class="icon-block__title align-left mbr-fonts-style display-5">
                            Don't hesitate to contact us
                        </h4>
                    </div>
                    <div class="icon-contacts pb-3">
                        <p class="mbr-text align-left mbr-fonts-style display-7" style="margin: 0;">
                            Email: unswbookDeveloper@gmail.com
                        </p>
                    </div>
                </div>
                <div data-form-type="formoid">
                    <div data-form-alert="" hidden="">
                        Thanks for filling out the form!
                    </div>
                    <form class="block mbr-form" action="contact_us" method="post" data-form-title="Mobirise Form"><input type="hidden" data-form-email="true" value="pP/XHy9jsheeIeGkeL5ppLSEasAO+mx9Sn1MqA56D2krjIguv26FNSwlsgeGtKS12K/s/GXD52XP8xUq4a8esayeYSl1dcJ7jfXiA7Z+rGri1hKG+y3Y2riirP51APui">
                        <div class="row">
                            <div class="col-md-6 multi-horizontal" data-for="name" style="padding: 5px">
                                <input type="text" class="form-control input" name="name" data-form-field="Name" placeholder="Your Name" required="" id="name-form4-bg">
                            </div>
                            <div class="col-md-6 multi-horizontal" data-for="phone" style="padding: 5px">
                                <input type="text" class="form-control input" name="phone" data-form-field="Phone" placeholder="Phone" required="" id="phone-form4-bg">
                            </div>
                            <div class="col-md-12" data-for="email" style="padding: 5px">
                                <input type="text" class="form-control input" name="email" data-form-field="Email" placeholder="Email" required="" id="email-form4-bg">
                            </div>
                            <div class="col-md-12" data-for="message" style="padding: 5px">
                                <textarea class="form-control input" name="message" rows="3" data-form-field="Message" placeholder="Message" required="" style="resize:none" id="message-form4-bg"></textarea>
                            </div>
                            <div class="input-group-btn col-md-12" style="margin-top: 10px;">
                                <button href="" type="submit" class="btn btn-primary btn-form display-4" name="send_message" value="True">SEND MESSAGE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="cid-qvhnNOWQGu" id="footer2-bh" data-rv-view="2049">-->
    <!--<div class="container">-->
        <!--<div class="media-container-row content mbr-white">-->
            <!--<div class="col-12 col-md-3 mbr-fonts-style display-7">-->
                <!--<p class="mbr-text">-->
                    <!--<strong>Address</strong>-->
                    <!--<br>-->
                    <!--<br>1234 Street Name-->
                    <!--<br>City, AA 99999-->
                    <!--<br>-->
                    <!--<br>-->
                    <!--<br><strong>Contacts</strong>-->
                    <!--<br>-->
                    <!--<br>Email: support@mobirise.com-->
                    <!--<br>Phone: +1 (0) 000 0000 001-->
                    <!--<br>Fax: +1 (0) 000 0000 002-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-12 col-md-3 mbr-fonts-style display-7">-->
                <!--<p class="mbr-text">-->
                    <!--<strong>Links</strong>-->
                    <!--<br>-->
                    <!--<br><a class="text-primary" href="https://mobirise.com/">Website builder</a>-->
                    <!--<br><a class="text-primary" href="https://mobirise.com/mobirise-free-win.zip">Download for Windows</a>-->
                    <!--<br><a class="text-primary" href="https: //mobirise.com/mobirise-free-mac.zip">Download for Mac</a>-->
                    <!--<br>-->
                    <!--<br><strong>Feedback</strong>-->
                    <!--<br>-->
                    <!--<br>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.-->
                <!--</p>-->
            <!--</div>-->
            <!--<div class="col-12 col-md-6">-->
                <!--<div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJn6wOs6lZwokRLKy1iqRcoKw" allowfullscreen=""></iframe></div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="footer-lower">-->
            <!--<div class="media-container-row">-->
                <!--<div class="col-sm-12">-->
                    <!--<hr>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="media-container-row mbr-white">-->
                <!--<div class="col-sm-6 copyright">-->
                    <!--<p class="mbr-text mbr-fonts-style display-7">-->
                        <!--© Copyright 2017 Mobirise - All Rights Reserved-->
                    <!--</p>-->
                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<div class="social-list align-right">-->
                        <!--<div class="soc-item">-->
                            <!--<a href="https://twitter.com/mobirise" target="_blank">-->
                                <!--<span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="soc-item">-->
                            <!--<a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">-->
                                <!--<span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="soc-item">-->
                            <!--<a href="https://www.youtube.com/c/mobirise" target="_blank">-->
                                <!--<span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="soc-item">-->
                            <!--<a href="https://instagram.com/mobirise" target="_blank">-->
                                <!--<span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="soc-item">-->
                            <!--<a href="https://plus.google.com/u/0/+Mobirise" target="_blank">-->
                                <!--<span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div class="soc-item">-->
                            <!--<a href="https://www.behance.net/Mobirise" target="_blank">-->
                                <!--<span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social" media-simple="true"></span>-->
                            <!--</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>-->


{% endblock %}
