<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin</title>
  <link rel="stylesheet" href="static/css/admin.css">
  <link rel="stylesheet" href="static/css/admin_ext.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="static/images/logo1.png" />
      <link href="static/css/icons.css" rel="stylesheet">

    <script src="static/js/jquery-3.3.1.min.js"></script>
</head>

<body>
  <div class="container-scroller">
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="navbar-menu-wrapper d-flex align-items-center">
          <h3 style="margin-left:470px">Administration System</h3>
        <ul class="navbar-nav navbar-nav-right">
          <li class="nav-item dropdown d-none d-xl-inline-block">
              <span class="profile-text">Hello, {{adminname}}!</span>
              <!--<a href="/admin_logout">Sign Out</a>-->
                                      <a href="/admin_logout" title="" itemprop="url"><i class="fa fa-sign-out" aria-hidden="true"></i></a>

          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="mdi mdi-menu"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item nav-profile">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="admin_table">
              <span class="menu-title">Users</span>
            </a>
          </li>
          <!--<li class="nav-item">-->
            <!--<a class="nav-link" href="admin_post_table">-->
              <!--<span class="menu-title">Posts</span>-->
            <!--</a>-->
          <!--</li>-->
            <li class="nav-item">
            <a class="nav-link" href="contact_us_feedback">
              <span class="menu-title">Feedback</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">
            <form method="post" action="contact_us_feedback">
          <div class="search_bar">
              <textarea type="text" placeholder=" Reply to users.." name="search" style="width: 800px;height:150px;margin-left:10px;border: 1px solid #00ce68;border-radius: 5px;"></textarea>

          </div>
                <br>
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Feedback</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Email
                          </th>
                          <th>
                            Name
                          </th>
                          <th>
                            Phone
                          </th>
                          <th>
                            Message
                          </th>
                            <!--<th>-->
                                <!--state-->
                            <!--</th>-->
                          <th>
                            Reply
                          </th>
                            <th>
                                Action
                            </th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for item in result %}
                          <tr>
                            <td>{{item.email}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.phone}}</td>
                            <td>{{item.message}}</td>
                              <!--<td>{{ item.state }}</td>-->
                            <td><button type="submit" name="feed_reply" value="{{item.email}}" class="btn btn-outline-success">Reply</button></td>
                            <td><button type="submit" name="feed_delete" value="{{item.email}} {{item.name}} {{item.phone}} {{item.message}}" class="btn btn-outline-danger">Delete</button></td>
                          </tr>

                          {% endfor %}
                      </tbody>
                    </table>

                  </div>
                </div>


              </div>
            </div>
            </form>
            <!--<div class="pager">-->
                      <!--<form method="post" action="contact_us_feedback" class="widthh"><button class="btn btn-inverse-success btn-rounded btn-fw" type="submit" id="previous_page" name="previous_page" value="{{page}}">Prev</button></form>-->
                      <!--<span>{{page}}</span>-->
                      <!--<form method="post" action="contact_us_feedback" class="widthh"><button class="btn btn-inverse-success btn-rounded btn-fw" type="submit" id="next_page" name="next_page" value="{{page}}">Next</button></form>-->
                  <!--</div>-->
        <footer class="footer">
        </footer>
      </div>
    </div>
    </div></div>
</body>

</html>