{% extends "base.html" %}
{% block body_contents %}
            <section>
                <div class="gp nogp ovrlp-tp-103">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="creative-slider">
                                <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="classicslider1">
                                    <div id="rev_slider_4_1" class="rev_slider fullscreenbanner" style="display:none;">
                                        <ul>
                                            <li data-index="rs-1" data-transition="random" data-slotamount="default" data-hideafterloop="0"  data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0"  data-saveperformance="off" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-title="">
                                                <!-- MAIN IMAGE -->
                                                <img src="{{url_for('static',filename='images/bg4.jpg')}}" itemprop="image" alt=""  data-bgposition="center 35%"  data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="45" class="rev-slidebg" data-no-retina />
                                                <h2 class="tp-caption tp-resizeme rs-parallaxlevel-3"
                                                    data-x="center" data-hoffset="0"
                                                    data-y="center" data-voffset="-100"
                                                    data-width="['auto','auto','auto','auto']"
                                                    data-height="['auto','auto','auto','auto']"
                                                    data-transform_idle="o:1;"
                                                    data-transform_in="x:0;y:top;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                                                    data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                                    data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                                                    data-start="500"
                                                    data-splitin="chars"
                                                    data-splitout="none"
                                                    data-responsive_offset="on"
                                                    data-elementdelay="0.05"
                                                    style="font-size:40px;margin:0;letter-spacing:-.3px;font-weight:700;">Welcome to WeStay
                                                </h2>

                                                <span class="tp-caption tp-resizeme rs-parallaxlevel-3"
                                                      data-x="center" data-hoffset="0"
                                                      data-y="center" data-voffset="-60"
                                                      data-width="['auto','auto','auto','auto']"
                                                      data-height="['auto','auto','auto','auto']"
                                                      data-transform_idle="o:1;"
                                                      data-transform_in="x:0;y:top;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                                                      data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                                      data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                                                      data-start="500"
                                                      data-splitin="none"
                                                      data-splitout="none"
                                                      data-responsive_offset="on"
                                                      data-elementdelay="0.05"
                                                      style="font-size:16px;color:#505050;font-family:montserrat;">We are glad to welcome you at our accommodation web portal
                                                </span>
                                                <a class="tp-caption rd30 thm-btn2 tp-resizeme rs-parallaxlevel-3" href="/search" itemprop="url"
                                                   data-x="center" data-hoffset="0"
                                                   data-y="center" data-voffset="0"
                                                   data-width="['auto','auto','auto','auto']"
                                                   data-height="['auto','auto','auto','auto']"
                                                   data-transform_idle="o:1;"
                                                   data-transform_in="x:0;y:top;z:0;rX:0;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0.01;s:3000;e:Power3.easeOut;"
                                                   data-transform_out="s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                                                   data-mask_in="x:[-100%];y:0;s:inherit;e:inherit;"
                                                   data-start="500"
                                                   data-splitin="none"
                                                   data-splitout="none"
                                                   data-responsive_offset="on"
                                                   data-elementdelay="0.05"
                                                   style="">Start Now
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div id="startnow" class="seo-scor" style="background: url({{url_for('static',filename='images/limages/se-frm-bg.jpg')}}) no-repeat center / cover;">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12 col-lg-3">
                                            <div class="title3">
                                                <h4 itemprop="headline">Find unique experience!</h4>
                                                <span class="thm-clr">Simple, Fast, Accurate search!</span>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-12 col-lg-9">
                                            <form class="se-frm" role="form" method="post" action="/search" id="indexSearch">
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <div class="inpt-grp-inline">
                                                            <input type="text" name="city" placeholder="Destination" />
                                                            <input id="searchCheckIn" type="text" name="indate"  placeholder="Check in" />
                                                            <input id="searchCheckOut" type="text" name="outdate" placeholder="Check out" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <button type="submit" class="thm-btn2 rd30" id="indexSearchButton">Search</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- Creative Slider  -->
                        </div>
                    </div>
                </div>
            </section><!-- Slider Sec -->



            <section>
                <div class="gp nogp " style="margin-top:115px">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="title1 txt-cntr">
                                    <h3 itemprop="headline">Recommend for you</h3>
                                    <span>Highly reviewed by users</span>
                                </div>
                                <div class="cmp-fers">
                                    <div class="cmp-pst">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 col-lg-6">
                                                <div class="cmp-thmb">
                                                    <img src="https://a0.muscache.com/im/pictures/781b965d-2baf-4dcf-b037-4122d08d4292.jpg?aki_policy=large" alt="" itemprop="image" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-lg-6">
                                                <div class="cmp-inf">
                                                    <h2 itemprop="headline">Spectacular Harbour views next to Bondi Beach<a href="/post_detail/5bc55da87d117047f2324a00" title="" itemprop="url"></a></h2>
                                                    <p itemprop="description">Absolutely stunning harbour views from lounge, kitchen, terrace & main bedroom of this Beautiful 3 b.r. house. Perfect place to lounge around & relax or explore Sydney. 10 min. walk to Bondi Beach & Bondi junction shops, Cosmopolitan Double Bay down the road. Great restaurants in every direction. Catch a ferry from Rosebay to the Opera house & city. </p>
                                                    <a class="thm-btn2 rd30" href="/post_detail/5bc55da87d117047f2324a00" title="" itemprop="url">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cmp-pst">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 col-lg-6 sml-scrn">
                                                <div class="cmp-thmb">
                                                    <img src="https://a0.muscache.com/im/pictures/7f1fb34f-24b4-4e73-bbf3-5f2424fd9bff.jpg?aki_policy=large" alt="" itemprop="image" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-lg-6">
                                                <div class="cmp-inf">
                                                    <h2 itemprop="headline"><a href="/post_detail/5bc55d9d7d117047f2321d56" title="" itemprop="url">Cowanwaters - Waterfront house</a></h2>
                                                    <p itemprop="description">Enjoy the serenity of Cottage Point with spectacular views from all rooms. Sit back and relax on one of the many balconies and outdoor areas or lounge in the outdoor spa overlooking the water. Walk to Cottage Point Kiosk and Cottage Point Inn INDULGE YOURSELF</p>
                                                    <a class="thm-btn2 rd30" href="/post_detail/5bc55d9d7d117047f2321d56" title="" itemprop="url">More</a>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-lg-6 big-scrn">
                                                <div class="cmp-thmb">
                                                    <img src="https://a0.muscache.com/im/pictures/7f1fb34f-24b4-4e73-bbf3-5f2424fd9bff.jpg?aki_policy=large" alt="" itemprop="image" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cmp-pst">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-12 col-lg-6">
                                                <div class="cmp-thmb">
                                                    <img src="https://a0.muscache.com/im/pictures/df085f49-e3b6-4347-b1ae-288b255fe9bb.jpg?aki_policy=large" alt="" itemprop="image" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-lg-6">
                                                <div class="cmp-inf">
                                                    <h2 itemprop="headline"><a href="/post_detail/5bc42f049b545311ccbaf073" title="" itemprop="url">Ocean Vista - Bilgola Beach NB Holidays</a></h2>
                                                    <p itemprop="description">Wake up to one of the best views you will ever see! You don't need to blink because it will be there when you also go to bed. You will never get tired of this view. Ocean Vista is a stunning 3 bedroom house with some of the best views in the area. Wake up to one of the best views you will ever see!</p>
                                                    <a class="thm-btn2 rd30" href="/post_detail/5bc4988c7d11703356dc6db5" title="" itemprop="url">More</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<section>
                <div class="gp">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="title1 txt-cntr">
                                    <h3 itemprop="headline">Top Destinations</h3>
                                    <span>Your life, Your choice</span>
                                </div>
                                <div class="rmv-ext">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-lg-4">
                                            <div class="pst-bx">
                                                <a href="/areaSearch/bondi" title="" itemprop="url"><img class="rd6" src="https://a0.muscache.com/im/pictures/a2d59e21-f2a3-47b7-84f6-1fea115db8cb.jpg?aki_policy=large" alt="" itemprop="image" /></a>
                                                <div class="pst-inf">
                                                    <h4 itemprop="headline"><a href="/areaSearch/bondi" title="" itemprop="url">Bondi beach</a></h4>
                                                     </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-4">
                                            <div class="pst-bx">
                                                <a href="/areaSearch/city" title="" itemprop="url"><img class="rd6" src="{{url_for('static',filename='images/20181015161025.jpg')}}" alt="" itemprop="image" /></a>
                                                <div class="pst-inf">
                                                    <h4 itemprop="headline"><a href="/areaSearch/city" title="" itemprop="url">Sydney City</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-lg-4">
                                            <div class="pst-bx">
                                                <a href="/areaSearch/randwick" title="" itemprop="url"><img class="rd6" src="https://a0.muscache.com/im/pictures/5fc90d1c-853f-4f2f-866b-ca22d669481d.jpg?aki_policy=large" alt="" itemprop="image" /></a>
                                                <div class="pst-inf">
                                                    <h4 itemprop="headline"><a href="/areaSearch/randwick" title="" itemprop="url">Randwick</a></h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="gp ls-gp thm-bg-clr">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="fn-fcts rmv-ext">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6 col-lg-3" style="margin: 0 50px;">
                                            <div class="fct-bx">
                                                <i class="fa fa-handshake-o"></i>
                                                <div class="fct-inf">
                                                    <strong class="cntr">{{num_of_transaction}}</strong>
                                                    <span>Transactions</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-lg-3" style="margin: 0 50px;">
                                            <div class="fct-bx">
                                                <i class="fa fa-user-plus"></i>
                                                <div class="fct-inf">
                                                    <strong class="cntr">{{num_of_users}}</strong>
                                                    <span>Active Users</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6 col-lg-3" style="margin: 0 50px;">
                                            <div class="fct-bx">
                                                <i class="fa fa-trophy"></i>
                                                <div class="fct-inf">
                                                    <strong class="cntr">{{num_of_posts}}</strong>
                                                    <span>Properties</span>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="col-md-4 col-sm-6 col-lg-3">-->
                                            <!--<div class="fct-bx">-->
                                                <!--<i class="fa fa-code"></i>-->
                                                <!--<div class="fct-inf">-->
                                                    <!--<strong class="cntr">20930</strong>-->
                                                    <!--<span>Lines of Code</span>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div><!-- Fun Facts -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="gp bp-xt175">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="title1 txt-cntr">
                                    <h3 itemprop="headline">U Never Sleep Well Team</h3>
                                    <span>Smile Face wall</span>
                                </div>
                                <div class="rmv-ext">
                                    <div class="row">

                                        <div class="col-md-4 col-sm-4 col-lg-3">
                                            <div class="tm-bx txt-cntr">
                                                <div class="tm-thmb rd">
                                                   <img src="{{url_for('static',filename='images/guangdong_touxiang.jpeg')}}" alt="" itemprop="image" />
                                                    <div class="tm-scl vrt-cntr">
                                                    <a href="tuan2goo@gmail.com" title="" itemprop="url" target="_blank"><img src="{{url_for('static',filename='images/tm-scl-icn3.png')}}" alt="" itemprop="image" /></a>

                                                    </div>
                                                </div>
                                                <div class="tm-inf">
                                                    <h4 itemprop="headline">Guangdong Miao</h4>
                                                    <span>Scrum master</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-lg-3">
                                            <div class="tm-bx txt-cntr">
                                                <div class="tm-thmb rd">
                                                    <img src="{{url_for('static',filename='images/linyixuan.jpg')}}" alt="" itemprop="image" />
                                                    <div class="tm-scl vrt-cntr">
                                                        <a href="linyixuan08@gmail.com" title="" itemprop="url" target="_blank"><img src="{{url_for('static',filename='images/tm-scl-icn3.png')}}" alt="" itemprop="image" /></a>
                                                    </div>
                                                </div>
                                                <div class="tm-inf">
                                                    <h4 itemprop="headline">Yixuan Lin</h4>
                                                    <span>Web APP Developer</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-sm-4 col-lg-3">
                                            <div class="tm-bx txt-cntr">
                                                <div class="tm-thmb rd">
                                                     <img src="{{url_for('static',filename='images/liling.jpg')}}" alt="" itemprop="image" />
                                                    <div class="tm-scl vrt-cntr">
                                                        <a href="linyixuan08@gmail.com" title="" itemprop="url" target="_blank"><img src="{{url_for('static',filename='images/tm-scl-icn3.png')}}" alt="" itemprop="image" /></a>
                                                    </div>
                                                </div>
                                                <div class="tm-inf">
                                                    <h4 itemprop="headline">Liling Zhang</h4>
                                                    <span>Web APP Developer</span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="col-md-4 col-sm-4 col-lg-3">
                                            <div class="tm-bx txt-cntr">
                                                <div class="tm-thmb rd">
                                                     <img src="{{url_for('static',filename='images/shitou.png')}}" alt="" itemprop="image" />
                                                    <div class="tm-scl vrt-cntr">
                                                        <a href="" title="" itemprop="url" target="_blank"><img src="{{url_for('static',filename='images/tm-scl-icn3.png')}}" alt="" itemprop="image" /></a>
                                                    </div>
                                                </div>
                                                <div class="tm-inf">
                                                    <h4 itemprop="headline">Zijin Ding</h4>
                                                    <span>Web APP Developer</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


{% endblock %}
