{% extends "base.html" %}
{% block body_contents %}
<div id="searchNotification">Searching</div>

<div style="margin-top:-200px;">
    <img src="{{url_for('static',filename='images/post.png')}}" itemprop="image" alt="" data-bgposition="center 35%"
         data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="45" class="rev-slidebg" data-no-retina/>
</div>
<div class="gp ls-gp" style="margin-top:-300px;">
    <div class="fxd-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="pg-tl txt-cntr">
                    <h2 style="font-size:40px;margin:0;letter-spacing:-.3px;font-weight:700;">Welcome to WeStay</h2>
                    <ul class="breadcrumbs">
                        <li><a href="#" title="" itemprop="url"
                               style="font-size:16px;color:#505050;font-family:montserrat;">Optimize</a></li>
                        <li class="active" style="font-size:16px;color:#505050;font-family:montserrat;">Accordions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<section>
    <form class="post-form">
        <div class="gp">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                <div class="tgl" id="tgl">
                                    <div class="tgl-itm activate">
                                        <h5 class="active rd4" itemprop="headline" id="colum1">Where is the
                                            accommodation? <span style="color:red;display:none;"> (required)</span> <i
                                                    class="fa fa-plus"></i></h5>
                                        <div class="tgl-cnt">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-4 col-sm-12" style="margin-top:10px"><input class="rd30"
                                                                                                 type="text"
                                                                                                 placeholder="City"
                                                                                                 id="city"/>
                                                </div>
                                                <div class="col-md-12 col-lg-4 col-sm-12" style="margin-top:10px"><input class="rd30"
                                                                                                 type="text"
                                                                                                 placeholder="Street Address"
                                                                                                 id="Street-Address"/>
                                                </div>
                                                <div class="col-md-12 col-lg-4 col-sm-12" style="margin-top:10px"><input class="rd30"
                                                                                                 type="text"
                                                                                                 placeholder="Postal code"
                                                                                                 id="Postal-code"/>
                                                </div>
                                                <div class="col-md-12 col-lg-12 col-sm-12">
                                                <div id="map_canvas" style="height:250px;margin-top:15px;" ></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tgl-itm">
                                        <h5 class="rd4" itemprop="headline" id="colum2">basic information <span
                                                style="color:red;display:none;"> (required)</span><i
                                                class="fa fa-plus"></i></h5>
                                        <div class="tgl-cnt">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <h7>What type of accommodation?</h7>
                                                    <div class="form-select">
                                                        <select id="type">
                                                            <option value="">select1</option>
                                                            <option>Apartment</option>
                                                            <option>House</option>
                                                            <option>Room</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <h7>How many bedrooms are there?</h7>
                                                    <div class="form-select">
                                                        <select id="bedrooms">
                                                            <option value="">select2</option>
                                                            {% for i in range(1,16) %}
                                                            <option>{{i}}</option>
                                                            <!--<option>Business Planning</option>-->
                                                            <!--<option>Business Planning</option>-->
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <h7>How many bathrooms are there?</h7>
                                                    <div class="form-select">
                                                        <select id="bathrooms">
                                                            <option value="">select3</option>
                                                            {% for i in range(1,16) %}
                                                            <option>{{i}}</option>
                                                            <!--<option>Business Planning</option>-->
                                                            <!--<option>Business Planning</option>-->
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <h7>How many beds are there?</h7>
                                                    <div class="form-select">
                                                        <select id="beds">
                                                            <option value="">select4</option>
                                                            {% for i in range(1,31) %}
                                                            <option>{{i}}</option>
                                                            <!--<option>Business Planning</option>-->
                                                            <!--<option>Business Planning</option>-->
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <h7>What's the name of your property?</h7>
                                                    <div class="form-select">
                                                    <input class="rd30"
                                                           type="text"
                                                           placeholder="Name" id="name"
                                                    />
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <h7>Set the price per night</h7>
                                                    <input class="rd30"
                                                           type="text"
                                                           placeholder="Price" id="price"
                                                           onkeyup="this.value=this.value.replace(/[^\d.]/g,'')"
                                                           onafterpaste="this.value=this.value.replace(/[^\d.]/g,'')"/>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-lg-6" style="margin-top:15px;">
                                                    <h7>Start time</h7>
                                                    <div class="input-group">
                                                        <input
                                                                type="text" class="rd30" name="indate"
                                                                placeholder="YY/MM/DD" id="start_time">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-lg-6" style="margin-top:15px;">
                                                    <h7>End time</h7>
                                                    <div class="input-group">
                                                        <input
                                                                type="text" class="rd30" name="outdate"
                                                                placeholder="YY/MM/DD" id="end_time">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tgl-itm">
                                        <h5 class="rd4" itemprop="headline" id="colum3">upload photos <span
                                                style="color:red;display:none;"> (required)</span>
                                            <i class="fa fa-plus"></i></h5>
                                        <div class="tgl-cnt">
                                            <div class="upload-content">
                                                <div class="content-img">
                                                    <ul class="content-img-list">
                                                        <!-- <li class="content-img-list-item"><img src="https://www.baidu.com/img/bd_logo1.png" alt=""><a class="delete-btn"><i class="ico-delete"></i></a></li> -->
                                                    </ul>
                                                    <div class="file">
                                                        <i class="ico-plus"></i>Upload photos, png/jpg<input type="file"
                                                                                                     name="file"
                                                                                                     accept="image/*"
                                                                                                     id="upload">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tgl-itm">
                                        <h5 class="rd4" itemprop="headline">Extra information (optional)
                                            <i class="fa fa-plus"></i></h5>
                                        <div class="tgl-cnt">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-12 col-sm-12" style="margin-bottom:10px;">
                                                    <h7>What services are available for guests to use?</h7>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="WiFi" id="checkbox-1"
                                                           style="display: none;">
                                                    <label for="checkbox-1"></label>
                                                    <span class="status">WiFi</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="Parking" id="checkbox-2"
                                                           style="display: none;">
                                                    <label for="checkbox-2"></label>
                                                    <span class="status">Parking</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="Gym" id="checkbox-3"
                                                           style="display: none;">
                                                    <label for="checkbox-3"></label>
                                                    <span class="status">Gym</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="vehicle" id="checkbox-4"
                                                           style="display: none;">
                                                    <label for="checkbox-4"></label>
                                                    <span class="status">Pets Allowed</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="vehicle" id="checkbox-5"
                                                           style="display: none;">
                                                    <label for="checkbox-5"></label>
                                                    <span class="status">Air Conditioning</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="vehicle" id="checkbox-6"
                                                           style="display: none;">
                                                    <label for="checkbox-6"></label>
                                                    <span class="status">Kitchen</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="vehicle" id="checkbox-7"
                                                           style="display: none;">
                                                    <label for="checkbox-7"></label>
                                                    <span class="status">Linens Provided</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="vehicle" id="checkbox-8"
                                                           style="display: none;">
                                                    <label for="checkbox-8"></label>
                                                    <span class="status">Washing Machine</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="vehicle" id="checkbox-9"
                                                           style="display: none;">
                                                    <label for="checkbox-9"></label>
                                                    <span class="status">TV</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="vehicle" id="checkbox-10"
                                                           style="display: none;">
                                                    <label for="checkbox-10"></label>
                                                    <span class="status">Pool</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="vehicle" id="checkbox-11"
                                                           style="display: none;">
                                                    <label for="checkbox-11"></label>
                                                    <span class="status">Lift</span>
                                                </div>
                                                <div class="col-md-6 col-lg-4 col-sm-12">
                                                    <input type="checkbox" name="vehicle" id="checkbox-12"
                                                           style="display: none;">
                                                    <label for="checkbox-12"></label>
                                                    <span class="status">Facilities for Disabled</span>
                                                </div>

                                                <div class="col-md-12 col-lg-5 col-sm-12" style="margin-top:15px;">
                                                    <h7>Describe your property (Any information you want to add)</h7>
                                                    <textarea
                                                            placeholder="Message" id="describe"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tgl-itm">
                                        <div class="col-md-12 col-sm-12 col-lg-12">
                                            <button type="button" class="thm-btn2 rd30" id="btn-submit-upload"
                                                    style="float: right;">submit
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>


<!--<div class="upload-content">
    <div class="content-img">
        <ul class="content-img-list">
            &lt;!&ndash; <li class="content-img-list-item"><img src="https://www.baidu.com/img/bd_logo1.png" alt=""><a class="delete-btn"><i class="ico-delete"></i></a></li> &ndash;&gt;
        </ul>
        <div class="file">
            <i class="ico-plus"></i>上传图片，支持jpg/png<input type="file" name="file" accept="image/*" id="upload">
        </div>
    </div>
</div>-->
{% endblock %}