{% extends "base2.html" %}
{% block body_contents %}
<input type="hidden" value="{{post['latitude']}}" id="lat"/>
<input type="hidden" value="{{post['longitude']}}" id="lon"/>
<input type="hidden" value="{{post['address']}}" id="add"/>
<input type="hidden" value="{{booked_time}}" id="booked"/>

<div id="searchNotification">Searching</div>

{% if post["picture"]|length ==1 %}
    <div style="text-align:center;margin-top:40px;margin-bottom:20px;">
        <img src="{{post['picture'][0]}}" style="height:auto; width:55%;"/>
    </div>
{% else %}
<section class="variable slider" style="text-align:center;left:15%;">
    {% for path in post["picture"] %}
    <div>
        <img src="{{path}}" style="height:400px; width:auto;"/>
    </div>
    {% endfor %}
</section>
{% endif %}


<section>
    <div class="gp" style="padding-top: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="row">
                        <div class="col-md-10 offset-md-1 col-sm-12 offset-sm-0 col-lg-8 offset-lg-2">
                            <div class="blg-dtl-wrp">
                                <div class="lt-blg-pst">
                                    <!--图片-->
                                    <div class="row">
                                        <div class="lt-blg-mta">
                                            <!--<div class="pst-btm">-->
                                            <div class="pst-tgs">
                                                <i class="fa fa-tags"></i>
                                                <a href="/areaSearch/{{post['city']}}" title="" itemprop="url">{{post["city"]}}</a>

                                            </div>

                                            <div class="pst-scl" style="vertical-align: -9px;">
                                                <a  title="" itemprop="url"><i class="fa fa-heart searchLike" data-id="{{post['_id']}}"></i></a>

                                                <a  title="" itemprop="url"><i class="fa fa-comment"></i>
                                                    {{post["review_num"]}}</a>
                                            </div>
                                            <!--</div>-->
                                        </div>
                                        <div class="title1 txt-cntr">
                                            <h3 itemprop="headline">{{post["name"]}}</h3>
                                            <span>

                                        </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-sm-4 col-lg-4" style="text-align:center;">
                                            <img src="{{url_for('static',filename='images/002-door.png')}}"
                                                 style="width:25px; height:auto; margin-bottom: 5px;"/>
                                            <p style="font-size:12px;">{{post["bedrooms"]}} bedrooms</p>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-lg-4" style="text-align:center;">
                                            <img src="{{url_for('static',filename='images/001-bed.png')}}"
                                                 style="width:25px; height:auto; margin-bottom: 5px;"/>
                                            <p style="font-size:12px;">{{post["beds"]}} beds</p>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-lg-4" style="text-align:center;">
                                            <img src="{{url_for('static',filename='images/003-bathtub.png')}}"
                                                 style="width:25px; height:auto; margin-bottom: 5px;"/>
                                            <p style="font-size:12px;">{{post["bathrooms"]}} bathrooms</p>
                                        </div>
                                    </div>

                                    <h1 class="wdgt-tl2" itemprop="headline" style="font-size:120%;margin-top:20px">DESCRIPTION</h1>

                                    <p itemprop="description">{{post["describe"]}}</p>
                                    <h1 class="wdgt-tl2" itemprop="headline" style="font-size:120%;">FEATURES</h1>
                                    <div class="admn-bx" style="margin-top:0px;">
                                        <div class="row">
                                            {% if post["wifi"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/wifi.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;">WIFI</span>
                                            </div>
                                            {% endif %}

                                            {% if post["parking"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/parking.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> Parking</span>
                                            </div>
                                            {% endif %}

                                            {% if post["gym"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/gym.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> Gym</span>
                                            </div>
                                            {% endif %}

                                            {% if post["pets"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/pet.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> Pets Allowed</span>
                                            </div>
                                            {% endif %}

                                            {% if post["air_condition"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/ac.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> Air Conditioning</span>
                                            </div>
                                            {% endif %}

                                            {% if post["kitchen"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/stove.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> Kitchen</span>
                                            </div>
                                            {% endif %}
                                            {% if post["linens"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/towel.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> Linens Provided</span>
                                            </div>
                                            {% endif %}
                                            {% if post["washing_machine"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/washing.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> Washing Machine</span>
                                            </div>
                                            {% endif %}
                                            {% if post["tv"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/tv.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> TV</span>
                                            </div>
                                            {% endif %}
                                            {% if post["pool"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/pool.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> Pool</span>
                                            </div>
                                            {% endif %}
                                            {% if post["lift"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/lift.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> Lift</span>
                                            </div>
                                            {% endif %}

                                            {% if post["facilities_for_disabled"] =='true' %}
                                            <div class="col-md-4 col-sm-4 col-lg-4" style="margin-bottom:15px;">
                                                <img src="{{url_for('static',filename='images/disabled.png')}}"
                                                     style="width:25px; height:auto; margin-bottom: 5px;"/>
                                                <span style="font-size:12px;"> Facilities for Disabled</span>
                                            </div>
                                            {% endif %}

                                        </div>
                                    </div>

                                </div>
                                <div class="cmts-wrp" style="margin-top:0px;">
                                    <h1 class="wdgt-tl2" itemprop="headline" style="font-size:120%;">LOCATION</h1>
                                    <div id="map_canvas" style="height:250px;width:100%;"></div>

                                </div>
                                <div class="admn-bx" style="margin-top:20px;">
                                    <img src="{{users['usericon']}}" style="height:70px; width:auto;" itemprop="image"/>
                                    <div class="admn-inf">
                                        <h5 itemprop="headline"><a href="#" title=""
                                                                   itemprop="url">{{users["username"]}}</a>
                                        </h5>
                                        <a href="#" title="" itemprop="url"
                                           target="_blank">{{users["phone"]}}</a>
                                        <br>
                                        <a href="#" title="" itemprop="url"
                                           target="_blank">{{users["email"]}}</a>
                                        </br>

                                    </div>
                                </div>
                                <div class="admn-bx" style="margin-top:20px;">
                                    <form class="post-form">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-lg-12" style="margin-top:0px;">
                                            <p itemprop="description" style="margin-left:10px">Average ${{post['price']}} per night</p>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-lg-6" style="margin-top:5px;">
                                                <div class="input-group">
                                                    <input
                                                            type="text" class="rd30"
                                                            placeholder="YY/MM/DD" id="chstart_time">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-lg-6" style="margin-top:5px;">
                                                <div class="input-group">
                                                    <input
                                                            type="text" class="rd30"
                                                            placeholder="YY/MM/DD" id="chend_time">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <input type="hidden" id="pi" value="{{post['_id']}}">
                                                <button class="thm-btn2 rd30" type="button" style="float: left; font-size:12px;     padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;text-transform:capitalize;margin-top:20px;" id="book_submit">Book
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="rtl-pst-wrp">
                                    <h1 class="wdgt-tl2" itemprop="headline" style="font-size:120%;">Related
                                        Properties</h1>
                                    <div class="rltd-pst-crsl">
                                        {% for rela in related %}
                                        <div class="rlt-pst-itm">
                                            <a href="/post_detail/{{rela[0]}}" title="" itemprop="url"><img
                                                    src="{{rela[1]}}"
                                                    /></a>
                                            <h4 itemprop="headline"><a href="/post_detail/{{rela[0]}}" title="" itemprop="url">{{rela[2]}}
                                                </a></h4>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="cmts-wrp">
                                    {% if post["review_num"] >1 %}
                                    <h1 class="wdgt-tl2" itemprop="headline" style="font-size:120%;">
                                        {{post["review_num"]}} comments</h1>
                                    {% else %}
                                    <h1 class="wdgt-tl2" itemprop="headline" style="font-size:120%;">
                                        {{post["review_num"]}} comment</h1>
                                    {% endif %}
                                    <ul class="cmt-thrd">
                                        {% for review in reviews %}
                                        <li>
                                            <div class="cmt-bx">
                                                <div class="cmt-bx-inr">
                                                    <img src="{{review['user_image']}}" style="height:50px; width:auto;"
                                                         itemprop="image"/>
                                                    <div class="cmt-bx-inf">
                                                        <h5 itemprop="headline"><a href="#" title="" itemprop="url">{{review["user_name"]}}</a>
                                                        </h5>
                                                        <span>{{review["post_time"][:10]}}</span>
                                                    </div>
                                                </div>
                                                <p itemprop="description">{{review["content"]}}</p>
                                            </div>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% if book =='true' %}
                                <div class="">
                                    <h1 class="wdgt-tl2" itemprop="headline" style="font-size:120%;"
                                        id="property_reply">Leave a Reply<span style="color:red;display:none;"> (required)</span>
                                    </h1>
                                    <form class="post-form">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <textarea placeholder="Comment:" id="review_content"></textarea>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                <input type="hidden" id="property_id" value="{{post['_id']}}">
                                                <button class="thm-btn2 rd30" type="button" style="float: left; font-size:12px;     padding-top: 8px;
    padding-right: 15px;
    padding-bottom: 7px;
    padding-left: 15px;text-transform:capitalize;margin-top:20px;" id="review_submit">Post Comment
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


{% endblock %}



