{% extends "base2.html" %}
{% block body_contents %}



  <section class="variable slider" style="text-align:center;left:15%;">
    <div>
      <img src="http://placehold.it/350x400?text=1">
    </div>
    <div>
      <img src="http://placehold.it/200x400?text=2">
    </div>
    <div>
      <img src="http://placehold.it/100x400?text=3">
    </div>
    <div>
      <img src="http://placehold.it/200x400?text=4">
    </div>
    <div>
      <img src="http://placehold.it/350x400?text=5">
    </div>
    <div>
      <img src="http://placehold.it/300x400?text=6">
    </div>
  </section>



{% endblock %}

