{% extends "base.html" %}
{% block body_contents %}
<br>
<div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="sdbr">
            <div class="serv-bx txt-cntr" style="width: 128px">
                <img src="{{usericon}}" alt="" itemprop="image" class="rd50"/>
                <div class="serv-inf">
                    <h4 itemprop="headline">{{username}}</h4>
                </div>
            </div>
            <div class="wdgt">
                <h2 class="wdgt-tl2" itemprop="headline">My WeStay</h2>
                <ul>
                    <li><span><i class="fa fa-user"></i></span> <a href="/user" title="" itemprop="url">My Profile</a>
                    </li>
                    <li><span><i class="fa fa-file-text-o"></i></span> <a href="/myorder" title="" itemprop="url">My
                        Order</a></li>
                    <li><span><i class="fa fa-home"></i></span> <a href="/mypro" title="" itemprop="url">My Property</a>
                    </li>
                    <li><span><i class="fa fa-cog"></i></span> <a href="/setting" title="" itemprop="url">Setting</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-9">
        <div id="edit" class="tab-pane">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 detailed">
                <h4 class="mb">Edit Personal Information</h4>
                <form method="post" role="form" class="form-horizontal">

                    <div class="form-group">
                        <label class="col-lg-2 control-label"> Avatar</label>
                        <div class="col-lg-6">
                            <input type="file" id="exampleInputFile" class="file-pos" name="usericon">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-6 control-label">Phone Number</label>
                        <div class="col-lg-6">
                            <input type="text" placeholder=" " id="phone_number" name="phone_number"
                                   class="form-control" style="border-radius: 30px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 control-label">Gender</label>
                        <div class="col-lg-6">
                            <select name="gender">
                                <option value=>Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                            <!--<input type="text" placeholder=" " id="lives-in" class="form-control">-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 control-label">Birth Date</label>
                        <div class="col-lg-6">
                            <input type="text" placeholder="DD/MM/YYYY " id="birth_date" name="birth_date"
                                   class="form-control" style="border-radius: 30px;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-6 control-label">Describe Yourself</label>
                        <div class="col-lg-10">
                            <textarea rows="10" cols="30" class="form-control" id="user_describe"
                                      name="user_describe" style="border-radius: 30px;"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="thm-btn2 rd30" id="profile-submit" style="float: right;">save
                                            </button>
                </form>
                {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                        {{message}}
                         </div>

                        {{ message }}
                        {% endfor %}
            </div>


        </div>
            </div>

    </div>
        <div class="gp"></div>




{% endblock %}